
.notification{
    position: absolute;
    background-color: white;
    min-width: 300px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(182, 179, 179);
    top: 10%;
    right: 30px;
    display: none;
}
.notification>h3{
    background-color: rgba(245, 77, 77, 0.926);
    padding: 10px;
    margin-top: 0;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


/* ============================================================== */
/* Body */
body{
    background-color: blac ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;

}
.body{
    background-color:#fff;
}
/* Page de connexion */
.tout{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
.connex input{
    margin-top: 60px;
    height: 30px;
    width: 450px;
    border-radius: 5px;
    font-size: larger;
    border: 1px solid;
}
.connex a input{
    background-color: #4A96A6;
    color: white;
    font-size: 20px;
    border: 2px solid #4A96A6;
    height: 50px;
    width: 470px;
}
.label{
    width: 85%;
    margin-top: 15px;
    color: gray;
    margin-left: 2%;
}
.i2:hover{
    background-color: white;
    border: 1px solid #4A96A6;
    color: #4A96A6;
}
.p:hover{
    border: 1px solid gray;
}
.e:hover{
    border: 1px solid gray;
}
/* --------------------------------------------- */

/* sideBar */
.sidebar {
    background-color: white;
    position: fixed;
    width: 17%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidebar img{
    width: 100%;
    margin: 0 auto;
}
.sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;

}
.colorli{
    background-color:#c0e2ea;
}
.sidebar ul li:hover {
    background-color: #c0e2ea;
    cursor: pointer;
}
li:hover a, .colorli a{
    color: white !important;
}
.sidebar ul{
    padding: 10px;
}
.sidebar ul li a{
    text-decoration: none;
    color: gray;
    padding: 10px;
  
}
.moitie{
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.moitier{
    height:50vh;
}
/* -------------------------------------------- */

/* contenue */
.contenue {
    margin-left: 17%;
    background-color:#c0e2ea;
    width: 83%;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;

}
/* modification suidetail */
.contenuee {
    margin-left: 17%;
    background-color:#c0e2ea;
    width: 83%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;

}
/* NavBar */
.navbar{
    background-color:white;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#burger{
    display: none;
}
.navbar img{
    height:60px;
    border-radius: 50%;
    margin-left: 20px;
}
.navcont{
    display: flex;
    margin-right: 30px;
    align-items: center;
}
.iconecloche{
    display: flex;
}
.pointcloche{
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 10px;
    border: 2px solid white;
    margin-left: -11px;
    margin-top: 4px;
}



/* Corps */
.corp{
    background-color: white;
    width: 97%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}
.corpsuivi{
    background-color: white;
    width: 97%;
    margin-bottom: 2vh;
    margin-top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}

/* Connexion */
.formulaire{
  display: flex;
  flex-direction: column;
  justify-content:center;

  margin-top:100px
}



#Connexion,.connex input{
    padding: 12px;
    border-radius: 10px;
    margin-top: 10%;
   

}
.index{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgb(111, 157, 141);
    text-decoration: none;
    color: white;
    
}

button a{
    text-decoration: none;
    color: white;
}




/* -------------------------------------------- */
/* tableau en général */
table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    color: gray;
}
table{
    margin-top: 20px;
    width: 100%;
   
}
.search{
    border: 1px solid black;
    padding:11px;
    text-align: center;
    margin: 0;
    background-color: #dadada;
    border-radius: 10px;
    width: 90%;
}
.search:hover{
    border: 1px greenyellow solid;
   }
.search:hover i{
    color: greenyellow;
}

.search:checked i{
    color: greenyellow;
    position: absolute;
}
.search:checked{
    border: 1px greenyellow solid;
    background-color:#FFFFFF;
    color:black;
}
.search input {
    border: none;
    padding: 12px 5px;
    font-size:18px;
    background-color: #dadada89;
    width: 50%;
    margin-top: 5px;
    position: relative;
}
.search input {
    outline:none;
}
.search:focus {
    outline-color: greenyellow;
    background-color: red;
}
/* SuiviDetail */
.gray{
    background-color: rgba(128, 128, 128, 0.474);
    padding:10px
}
.taillecel{
    width: 53%;
}
.taillecell{
    width:50%;
    padding-left: 20px;
}
.titsuividetail{
    color: gray;
}
.titrap{
    text-align: center;
    margin: 2px;
    color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.logosuidetail{
    width: 30%;
}
.tetab{
    background-color:#c0e2ea;
    color: gray;
    text-align: left;
}
.text{
    text-align: center;
}
.bornone{
    border: none;
}
.hbbord{
    border-top: none;
    border-bottom: none;
}
.rouge{
    background-color:red;
}
.orange{
    background-color: orange;
}
.tailletitretab{
    font-size: 35px;
    font-weight: bold;
}
.contdeg{
    display: flex;
    align-items: center;
    color: gray;
}
.deg{
    margin: 15px 20px 15px 0;
    width:70%; 
    height: 110px; 
    background: linear-gradient(90deg,green,orange,red);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    color: gray;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif,cursive;
}
.conttextdeg{
    font-size:13px;
}
/* suivie */
  td,th{
    padding: 5px;
    align-items: center;
  }
  .tab{
    border-left: none;
    border-right: none;
  }
  button{
   margin:auto;
    background-color: #4A96A6;
    padding: 1% 7%;
    border: 0px solid;
    border-radius: 9px;
    color: white;
    font-size: x-large;
    align-items: center;
  }
 
  .tr{
    border-left: none;
  }
  .TR{
    border-right: none;
  }
  tr:hover{
    background-color: rgb(234, 234, 234);
    color: #4A96A6;
    
}
  tr:hover td{
    background-color: rgb(234, 234, 234);
    color: #4A96A6;
    
}

  /* facture */
  button:hover{
    background-color: white;
    color: #4A96A6;
    border: 1px solid #4A96A6;
  }
  .entetefacture{
    background-color: #4A96A6;
    color: #fff;
  }
  .entetefacture>th{
    color: #fff;
  }
  .entetefacture:hover{
    color: #fff;
    background-color: #4A96A6;
  }
  .iconfiltre{
    visibility: hidden;
  }
  .entetefacture>th:hover{
    cursor: pointer;
  }
  .entetefacture>th:hover .iconfiltre{
    visibility: visible;
  }
  
  /* service */
  .form{
    width: 100%;
    align-items: flex-start;
    margin: 20px;
  }
  .serviceinput{
    width: 90%;
    border-radius: 10px;
    margin-top:15px;
    margin-bottom: 30px;
    background-color: #dadada89;
    border: none;
  }
  .textarea{
    height: 45vh;
  }
  .outlin:focus{
    outline-color: greenyellow;
  }
.form .but{
    background-color: #4A96A6;
    color: white;
    font-size: 20px;
    border: 1px solid #4A96A6;
    border-radius: 10px;
    padding: 12px 0;
    margin-left: 1px;
    margin-top:10px;

    
}
.lab{
    font-size:20px;
    color: gray;
}
/* cards */
.corpp{
    background-color:#c0e2ea;
}
.carddash{
    display: flex;
    width: 100%;
}
.card{
    position:relative;
    width: 280px;
    height: 350px;
    background-color: #4A96A6;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4A96A6;
}
.cards{
    position:relative;
    width: 280px;
    height: 350px;
    background-color: white;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4A96A6;
   
}
.gouteau{
    width: 50px;
    height: 50px;
    background-color:#c0e2ea;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.gouteauu{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.eclair{
    color: white;

}
.eau{
    color: #4A96A6;
    
}
.pourcentage{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    top: 50%;

}
.titrecard{
    color: gray;
    font-size: 34px;
    font-weight: bold;
}
.titrecardd{
    text-align: center;
}
.barchart{
    margin-left: 20px;
    width: 70%;
    height: 400px;
}
.mychar{
    margin-left: 50px;
}


/* ----------mediaquery---------- */

@media screen and (max-width: 768px){
    body{
        font-size : 14px;
    }
    #textsidebar{
        display: none;
    }
    /* sidebar */
    .sidebar {
        width: 8%;
    }
    .contenue {
        margin-left: 8%;
        width: 92%;
        height: 100vh;
    }
    /* modification suidetail */
    .contenuee {
        margin-left: 8%;
        width: 92%;
    }
    .corp{
        width: 96%;
        margin-bottom: 2vh;
        margin-top: 2vh;
       
    }
    .corpsuivi{
        width: 96%;
        margin-bottom: 2vh;
        margin-top: 0;
       
    }
    .navbar{
         height: 6vh;
    }
    .sidebar ul li a{
        padding: 4px;
    }
    .sidebar ul li {
        border-radius: 10px;
    }
    .sidebar ul {
        margin-top: 60px;
    }
    .card{
        margin: 60px 25px;
    }
    .cards{
        margin: 60px 25px;
    }
    .barchart{
        width: 95%;
        height: 400px;
        margin-top: 50px;
    }
    .titrecardd{
        margin-top: 20px;
    }
    .mychar{
        margin: 50px 25px;
    }
    .tabhaut{
        height:700px;
        margin: 40px auto;
    }
    button{
         padding: 3% 18%;
         font-size : 14px;
       }
    
       table, th, td {
        border: 1px solid #333;
        border-collapse: collapse;
        text-align: left;
        font-size: 14px;
        color: gray;
    }
    td,th{
        padding:  3px;
        align-items: center;
      }
      .search input {
        border: none;
        padding: 10px 5px;
        font-size:14px;
        background-color: #dadada89;
        width: 50%;
        margin-top: 1px;
    }
    .deg{
        width:100%; 
        height: 150px; 
    }
}
/* ----------mediaquery---------- */
@media screen and (max-width: 425px){
   /* connexion */
.connex input{
    margin-top: 60px;
    height: 30px;
    width: 380px;
}
.connex a input{
    background-color: #4A96A6;
    color: white;
    font-size: 20px;
    border: 2px solid #4A96A6;
    height: 50px;
    width: 400px;
}
}

@media screen and (max-width: 375px){
    #sidebar{
        display:none;
    }
    #burger{
        display: block;
        color: black;
    }
    #burger a{
        text-decoration: none;
        color: black;
        padding-left: 30px;
    }
    #sidebar:target{
        display: block;
    } 
    body{
        background-color:#c0e2ea;
        font-size: 12px;
    }
    table{
        font-size: 12px;
    }
 /* sidebar */
 .sidebar {
    width: 17%;
    position: fixed;
    z-index: 1;
    margin-left: 0;
}
.contenue {
    margin-left: 0;
    width: 100%;
    background-color:#c0e2ea;
    padding: 0;
}
/* modification suidetail */
.contenuee {
    margin-left: 0;
    width: 100%;
    background-color:#c0e2ea;
    padding: 0;
}
    .corp{
        width: 97%;
        margin-bottom: 2vh;
        margin-top: 2vh;
        padding: 0px;
    }
    /* card---------------- */
    .carddash{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .card{
        margin: 60px auto;
        
    }
    .cards{
        margin: 60px auto;
    }
    .barchart{
        margin: 0px auto;
        width: 100%;
        height: 400px;
        margin-top: 40px;
    }
    .titrecardd{
        margin-top: 10px;
    }
    .mychar{
        margin: 50px auto;
    }
    /* NavBar */
.navbar{
    background-color:white;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
   
}
.titrecar{
    margin-left:10px;
}
.tableau{
    overflow:scroll;
    
}
.tableauu{
    width: 500px;
}
.contdeg{
    flex-direction: column;
}
.deg{
    width:70%; 
    height: 110px; 
}
/* connexion */
.connex input{
    margin-top: 60px;
    height: 30px;
    width: 320px;
}
.connex a input{
    background-color: #4A96A6;
    color: white;
    font-size: 20px;
    border: 2px solid #4A96A6;
    height: 50px;
    width: 340px;
}
/* .a-ferme{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
header nav a{
    z-index: 1000;
} */
}